<script src="{{ "/assets/js/jquery.min.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/retina.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/general.js" | prepend: site.url }}"></script>
<script src="{{ "/assets/js/bootstrap.bundle.min.js" | prepend: site.url }}"></script>
{% if page.url == "/" or page.url == "/2019/7/"  %}
    <script src="https://cdn.jsdelivr.net/npm/@minimo-labs/jquery-codex/jquery.codex.min.js"></script>
{% endif %}
<script>
  $(function(){
    var rndNbr = Math.ceil(Math.random() * 10);
    var newBgValue = 'url("/assets/imgs/watercolor-'+rndNbr+'.jpg")';
    $("body").css('background-image', newBgValue);
  });
</script>
{% if page.url == "/" %}
  <script>
    $(function(){
      {% if site.lang == "en" %}
        $("#suspense").codex({
          final_text: "{% t home.digitals %}",
          speed: 50,
          duration: 2000,
          aftercall: function(){

          }
        });
      {% else %}
        $("#suspense").codex({final_text: "{% t home.digitals %}", speed: 50, duration: 2000});
      {% endif %}
    });
  </script>
{% endif %}

{% if page.title == "nav.team" %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
{% endif %}
{% if page.url == "/nicolas-erramuspe/" %}
  <script>
    $(function(){
      $("#profile-write").click(function(){
        $("#hamburger-show-menu").trigger( "click");
        $(".contact-trigger").trigger( "click");
      });
      $(".launch-historia").click(function(){ $("#historia-content").toggle(200, "swing"); });
      $(".launch-rutina").click(function(){ $("#rutina-content").toggle(200, "swing"); });
      $(".launch-principios").click(function(){ $("#principios-content").toggle(200, "swing"); });


      if (window.location.hash == "#rutina") {
        $("#rutina-content").toggle(200, "swing").focus();
        $(".profile-subheader").toggle(200, "swing").focus();

      }else if (window.location.hash == "#historia") {
        $("#historia-content").toggle(200, "swing").focus();
      }else if (window.location.hash == "#principios"){
        $("#principios-content").toggle(200, "swing");
      }
    })
  </script>
{% endif %}
{% if page.url == "/2019/7/" %}
  <script>
    $(function(){

      $("#do1").click(function(){
           $("#codex").codex({ final_text: "Just Jimmy!" });
       });

       $("#do2").click(function(){
           $("#codex2").codex({
               speed: 80,
               duration: 6000
           });
       });

       $("#do3").click(function(){
         $(".codex-cls").codex({
             speed: 40,
             duration: 3000
         });
       });


       $("#do4").click(function(){
         $("#codex4").codex({
             effect: "charbychar",
             keep_whitespaces: false,
             speed: 50,
             reveal: 100
         });
       });
      $("#do4").trigger("click");

      $("#do5").click(function(){
        $("#codex5").codex({
          effect: "typewriter",
          speed: 50,
          reveal: 50
        });
      });

    });
  </script>
{% endif %}
