<div id="hamburger-show-menu" class="hamburger hamburger--3dy animated heartBeat">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<div id="fullscreen-menu">
  <div id="menu" class="menu-inner">
    <nav class="menu-nav">
      <ul>
        <li><a href="{{site.baseurl}}/">{% t nav.home %}</a></li>
        <li><a href="{% tl manifest %}">{% t nav.manifest %}</a></li>
        <li><a href="{% tl projects %}">{% t nav.projects %}</a></li>
        <li><a href="{{ site.instagram_username }}">{% t nav.studio %}<span style="color:red;">.</span></a></li>
        <li style="display:none;"><a href="{% tl team %}">{% t nav.team %}</a></li>
        <!-- <li><a href="{% tl journal %}">{% t nav.journal %}</a></li> -->
        <li><a Xclass="contact-trigger" href="mailto:{{ site.email }}" rel="nofollow">{% t nav.contact %}</a></li>
      </ul>
    </nav>

    <div class="social">
      <div class="social-icons">
        <a href="{% tl journal %}" class="icon" hreflang="es">
          BLOG
        </a>
        <span class="icon">&middot;</span>
        <div class="langs icon">
            {% if page.title == "Home" %}
              <a hreflang="es" href="{{ site.url }}/" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}/pt/" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}/en/" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.title == "nav.team" %}
              <a hreflang="es" href="{{ site.url }}{% tl team es %}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}{% tl team pt %}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}{% tl team en %}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.title == "nav.manifest" %}
              <a hreflang="es" href="{{ site.url }}{% tl manifest es %}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}{% tl manifest pt %}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}{% tl manifest en %}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.title == "nav.journal" %}
              <a hreflang="es" href="{{ site.url }}{% tl journal es %}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}{% tl journal pt %}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}{% tl journal en %}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.title == "nav.projects" %}
              <a hreflang="es" href="{{ site.url }}{% tl projects es %}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}{% tl projects pt %}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}{% tl projects en %}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.title == "Nicolás Erramuspe" %}
              <a hreflang="es" href="{{ site.url }}{% tl nicolas es %}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}{% tl nicolas pt %}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}{% tl nicolas en %}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% elsif page.id %}
              <a hreflang="es" href="{{ site.url }}{{ page.url }}" {% if site.lang == "es" %}class="boldit"{% endif %}>ES</a>
              /
              <a hreflang="pt" href="{{ site.url }}/pt{{ page.url }}" {% if site.lang == "pt" %}class="boldit"{% endif %}>PT</a>
              /
              <a hreflang="en" href="{{ site.url }}/en{{ page.url }}" {% if site.lang == "en" %}class="boldit"{% endif %}>EN</a>
            {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>
<a href="#" class="back-to-the-future"><i class="fas fa-angle-double-up"></i></a>
